@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;

  font-family: 'Lato', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Varela Round', sans-serif;
}

.section-center {
  @apply px-4 lg:px-20;
}
.dot .react-multi-carousel-dot button {
  width: 15px;
  height: 15px;
}

.dot .react-multi-carousel-dot--active button {
  @apply bg-primary-blue;
}

.text-elipse-custom {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}
